[submodule "AppMon/External/INAppStoreWindow"]
	path = AppMon/External/INAppStoreWindow
	url = https://github.com/indragiek/INAppStoreWindow.git
[submodule "AppMon/External/ESScrollView"]
	path = AppMon/External/ESScrollView
	url = https://github.com/incbee/ESScrollView.git
[submodule "AppMon/External/ASIHttpRequest"]
	path = AppMon/External/ASIHttpRequest
	url = https://github.com/siuying/asi-http-request.git
[submodule "AppMon/External/SDWebImage"]
	path = AppMon/External/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "AppMon/External/JAListView"]
	path = AppMon/External/JAListView
	url = https://github.com/joshaber/JAListView.git
[submodule "Flags/lib/app_store"]
	path = Flags/lib/app_store
	url = git://github.com/siuying/app_store.git
