[submodule "AppMon/External/PXListView"]
	path = AppMon/External/PXListView
	url = https://github.com/Perspx/PXListView.git
[submodule "AppMon/External/INAppStoreWindow"]
	path = AppMon/External/INAppStoreWindow
	url = https://github.com/indragiek/INAppStoreWindow.git
[submodule "AppMon/External/ESScrollView"]
	path = AppMon/External/ESScrollView
	url = https://github.com/incbee/ESScrollView.git
[submodule "AppMon/External/BCCollectionView"]
	path = AppMon/External/BCCollectionView
	url = https://github.com/aaronbrethorst/BCCollectionView.git
[submodule "AppMon/External/ASIHttpRequest"]
	path = AppMon/External/ASIHttpRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "AppMon/External/SDWebImage"]
	path = AppMon/External/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "AppMon/External/JAListView"]
	path = AppMon/External/JAListView
	url = https://github.com/joshaber/JAListView.git
