<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Argentina</key>
	<dict>
		<key>id</key>
		<string>143505</string>
		<key>image</key>
		<string>ar</string>
	</dict>
	<key>Armenia</key>
	<dict>
		<key>id</key>
		<string>143524</string>
		<key>image</key>
		<string>am</string>
	</dict>
	<key>Australia</key>
	<dict>
		<key>id</key>
		<string>143460</string>
		<key>image</key>
		<string>au</string>
	</dict>
	<key>België/Belgique</key>
	<dict>
		<key>id</key>
		<string>143446</string>
		<key>image</key>
		<string>be</string>
	</dict>
	<key>Botswana</key>
	<dict>
		<key>id</key>
		<string>143525</string>
		<key>image</key>
		<string>bw</string>
	</dict>
	<key>Brazil</key>
	<dict>
		<key>id</key>
		<string>143503</string>
		<key>image</key>
		<string>br</string>
	</dict>
	<key>Bulgaria</key>
	<dict>
		<key>id</key>
		<string>143526</string>
		<key>image</key>
		<string>bg</string>
	</dict>
	<key>Canada</key>
	<dict>
		<key>id</key>
		<string>143455</string>
		<key>image</key>
		<string>ca</string>
	</dict>
	<key>Chile</key>
	<dict>
		<key>id</key>
		<string>143483</string>
		<key>image</key>
		<string>cl</string>
	</dict>
	<key>China</key>
	<dict>
		<key>id</key>
		<string>143465</string>
		<key>image</key>
		<string>cn</string>
	</dict>
	<key>Colombia</key>
	<dict>
		<key>id</key>
		<string>143501</string>
		<key>image</key>
		<string>co</string>
	</dict>
	<key>Costa Rica</key>
	<dict>
		<key>id</key>
		<string>143495</string>
		<key>image</key>
		<string>cr</string>
	</dict>
	<key>Croatia</key>
	<dict>
		<key>id</key>
		<string>143494</string>
		<key>image</key>
		<string>hr</string>
	</dict>
	<key>Czech Republic</key>
	<dict>
		<key>id</key>
		<string>143489</string>
		<key>image</key>
		<string>cz</string>
	</dict>
	<key>Denmark</key>
	<dict>
		<key>id</key>
		<string>143458</string>
		<key>image</key>
		<string>dk</string>
	</dict>
	<key>Deutschland</key>
	<dict>
		<key>id</key>
		<string>143443</string>
		<key>image</key>
		<string>de</string>
	</dict>
	<key>Dominican Republic</key>
	<dict>
		<key>id</key>
		<string>143508</string>
		<key>image</key>
		<string>do</string>
	</dict>
	<key>Ecuador</key>
	<dict>
		<key>id</key>
		<string>143509</string>
		<key>image</key>
		<string>ec</string>
	</dict>
	<key>Egypt</key>
	<dict>
		<key>id</key>
		<string>143516</string>
		<key>image</key>
		<string>eg</string>
	</dict>
	<key>El Salvador</key>
	<dict>
		<key>id</key>
		<string>143506</string>
		<key>image</key>
		<string>sv</string>
	</dict>
	<key>España</key>
	<dict>
		<key>id</key>
		<string>143454</string>
		<key>image</key>
		<string>es</string>
	</dict>
	<key>Estonia</key>
	<dict>
		<key>id</key>
		<string>143518</string>
		<key>image</key>
		<string>ee</string>
	</dict>
	<key>Finland</key>
	<dict>
		<key>id</key>
		<string>143447</string>
		<key>image</key>
		<string>fi</string>
	</dict>
	<key>France</key>
	<dict>
		<key>id</key>
		<string>143442</string>
		<key>image</key>
		<string>fr</string>
	</dict>
	<key>Greece</key>
	<dict>
		<key>id</key>
		<string>143448</string>
		<key>image</key>
		<string>gr</string>
	</dict>
	<key>Guatemala</key>
	<dict>
		<key>id</key>
		<string>143504</string>
		<key>image</key>
		<string>gt</string>
	</dict>
	<key>Honduras</key>
	<dict>
		<key>id</key>
		<string>143510</string>
		<key>image</key>
		<string>hn</string>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>id</key>
		<string>143463</string>
		<key>image</key>
		<string>hk</string>
	</dict>
	<key>Hungary</key>
	<dict>
		<key>id</key>
		<string>143482</string>
		<key>image</key>
		<string>hu</string>
	</dict>
	<key>India</key>
	<dict>
		<key>id</key>
		<string>143467</string>
		<key>image</key>
		<string>in</string>
	</dict>
	<key>Indonesia</key>
	<dict>
		<key>id</key>
		<string>143476</string>
		<key>image</key>
		<string>id</string>
	</dict>
	<key>Ireland</key>
	<dict>
		<key>id</key>
		<string>143449</string>
		<key>image</key>
		<string>ie</string>
	</dict>
	<key>Israel</key>
	<dict>
		<key>id</key>
		<string>143491</string>
		<key>image</key>
		<string>il</string>
	</dict>
	<key>Italia</key>
	<dict>
		<key>id</key>
		<string>143450</string>
		<key>image</key>
		<string>it</string>
	</dict>
	<key>Jamaica</key>
	<dict>
		<key>id</key>
		<string>143511</string>
		<key>image</key>
		<string>jm</string>
	</dict>
	<key>Jordan</key>
	<dict>
		<key>id</key>
		<string>143528</string>
		<key>image</key>
		<string>jo</string>
	</dict>
	<key>Kazakhstan</key>
	<dict>
		<key>id</key>
		<string>143517</string>
		<key>image</key>
		<string>kz</string>
	</dict>
	<key>Kenya</key>
	<dict>
		<key>id</key>
		<string>143529</string>
		<key>image</key>
		<string>ke</string>
	</dict>
	<key>Kuwait</key>
	<dict>
		<key>id</key>
		<string>143493</string>
		<key>image</key>
		<string>kw</string>
	</dict>
	<key>Latvia</key>
	<dict>
		<key>id</key>
		<string>143519</string>
		<key>image</key>
		<string>lv</string>
	</dict>
	<key>Lebanon</key>
	<dict>
		<key>id</key>
		<string>143497</string>
		<key>image</key>
		<string>lb</string>
	</dict>
	<key>Lithuania</key>
	<dict>
		<key>id</key>
		<string>143520</string>
		<key>image</key>
		<string>lt</string>
	</dict>
	<key>Luxembourg</key>
	<dict>
		<key>id</key>
		<string>143451</string>
		<key>image</key>
		<string>lu</string>
	</dict>
	<key>Macau</key>
	<dict>
		<key>id</key>
		<string>143515</string>
		<key>image</key>
		<string>mo</string>
	</dict>
	<key>Macedonia</key>
	<dict>
		<key>id</key>
		<string>143530</string>
		<key>image</key>
		<string>mk</string>
	</dict>
	<key>Madagascar</key>
	<dict>
		<key>id</key>
		<string>143531</string>
		<key>image</key>
		<string>mg</string>
	</dict>
	<key>Malaysia</key>
	<dict>
		<key>id</key>
		<string>143473</string>
		<key>image</key>
		<string>my</string>
	</dict>
	<key>Mali</key>
	<dict>
		<key>id</key>
		<string>143532</string>
		<key>image</key>
		<string>ml</string>
	</dict>
	<key>Mauritius</key>
	<dict>
		<key>id</key>
		<string>143533</string>
		<key>image</key>
		<string>mu</string>
	</dict>
	<key>México</key>
	<dict>
		<key>id</key>
		<string>143468</string>
		<key>image</key>
		<string>mx</string>
	</dict>
	<key>Nederland</key>
	<dict>
		<key>id</key>
		<string>143452</string>
		<key>image</key>
		<string>nl</string>
	</dict>
	<key>New Zealand</key>
	<dict>
		<key>id</key>
		<string>143461</string>
		<key>image</key>
		<string>nz</string>
	</dict>
	<key>Nicaragua</key>
	<dict>
		<key>id</key>
		<string>143512</string>
		<key>image</key>
		<string>ni</string>
	</dict>
	<key>Niger</key>
	<dict>
		<key>id</key>
		<string>143534</string>
		<key>image</key>
		<string>ne</string>
	</dict>
	<key>Norway</key>
	<dict>
		<key>id</key>
		<string>143457</string>
		<key>image</key>
		<string>no</string>
	</dict>
	<key>Pakistan</key>
	<dict>
		<key>id</key>
		<string>143477</string>
		<key>image</key>
		<string>pk</string>
	</dict>
	<key>Panamá</key>
	<dict>
		<key>id</key>
		<string>143485</string>
		<key>image</key>
		<string>pa</string>
	</dict>
	<key>Paraguay</key>
	<dict>
		<key>id</key>
		<string>143513</string>
		<key>image</key>
		<string>py</string>
	</dict>
	<key>Perú</key>
	<dict>
		<key>id</key>
		<string>143507</string>
		<key>image</key>
		<string>pe</string>
	</dict>
	<key>Philippines</key>
	<dict>
		<key>id</key>
		<string>143474</string>
		<key>image</key>
		<string>ph</string>
	</dict>
	<key>Poland</key>
	<dict>
		<key>id</key>
		<string>143478</string>
		<key>image</key>
		<string>pl</string>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>id</key>
		<string>143453</string>
		<key>image</key>
		<string>pt</string>
	</dict>
	<key>Qatar</key>
	<dict>
		<key>id</key>
		<string>143498</string>
		<key>image</key>
		<string>qa</string>
	</dict>
	<key>Republic of Malta</key>
	<dict>
		<key>id</key>
		<string>143521</string>
		<key>image</key>
		<string>mt</string>
	</dict>
	<key>Republic of Moldova</key>
	<dict>
		<key>id</key>
		<string>143523</string>
		<key>image</key>
		<string>md</string>
	</dict>
	<key>Romania</key>
	<dict>
		<key>id</key>
		<string>143487</string>
		<key>image</key>
		<string>ro</string>
	</dict>
	<key>Russia</key>
	<dict>
		<key>id</key>
		<string>143469</string>
		<key>image</key>
		<string>ru</string>
	</dict>
	<key>Saudi Arabia</key>
	<dict>
		<key>id</key>
		<string>143479</string>
		<key>image</key>
		<string>sa</string>
	</dict>
	<key>Schweiz/Suisse</key>
	<dict>
		<key>id</key>
		<string>143459</string>
		<key>image</key>
		<string>ch</string>
	</dict>
	<key>Senegal</key>
	<dict>
		<key>id</key>
		<string>143535</string>
		<key>image</key>
		<string>sn</string>
	</dict>
	<key>Singapore</key>
	<dict>
		<key>id</key>
		<string>143464</string>
		<key>image</key>
		<string>sg</string>
	</dict>
	<key>Slovakia</key>
	<dict>
		<key>id</key>
		<string>143496</string>
		<key>image</key>
		<string>sk</string>
	</dict>
	<key>Slovenia</key>
	<dict>
		<key>id</key>
		<string>143499</string>
		<key>image</key>
		<string>si</string>
	</dict>
	<key>South Africa</key>
	<dict>
		<key>id</key>
		<string>143472</string>
		<key>image</key>
		<string>za</string>
	</dict>
	<key>Sri Lanka</key>
	<dict>
		<key>id</key>
		<string>143486</string>
		<key>image</key>
		<string>lk</string>
	</dict>
	<key>Sweden</key>
	<dict>
		<key>id</key>
		<string>143456</string>
		<key>image</key>
		<string>se</string>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>id</key>
		<string>143470</string>
		<key>image</key>
		<string>tw</string>
	</dict>
	<key>Thailand</key>
	<dict>
		<key>id</key>
		<string>143475</string>
		<key>image</key>
		<string>th</string>
	</dict>
	<key>Tunisia</key>
	<dict>
		<key>id</key>
		<string>143536</string>
		<key>image</key>
		<string>tn</string>
	</dict>
	<key>Turkey</key>
	<dict>
		<key>id</key>
		<string>143480</string>
		<key>image</key>
		<string>tr</string>
	</dict>
	<key>Uganda</key>
	<dict>
		<key>id</key>
		<string>143537</string>
		<key>image</key>
		<string>ug</string>
	</dict>
	<key>United Arab Emirates</key>
	<dict>
		<key>id</key>
		<string>143481</string>
		<key>image</key>
		<string>ae</string>
	</dict>
	<key>United Kingdom</key>
	<dict>
		<key>id</key>
		<string>143444</string>
		<key>image</key>
		<string>gb</string>
	</dict>
	<key>United States</key>
	<dict>
		<key>id</key>
		<string>143441</string>
		<key>image</key>
		<string>us</string>
	</dict>
	<key>Uruguay</key>
	<dict>
		<key>id</key>
		<string>143514</string>
		<key>image</key>
		<string>uy</string>
	</dict>
	<key>Venezuela</key>
	<dict>
		<key>id</key>
		<string>143502</string>
		<key>image</key>
		<string>ve</string>
	</dict>
	<key>Vietnam</key>
	<dict>
		<key>id</key>
		<string>143471</string>
		<key>image</key>
		<string>vn</string>
	</dict>
	<key>Österreich</key>
	<dict>
		<key>id</key>
		<string>143445</string>
		<key>image</key>
		<string>at</string>
	</dict>
	<key>日本</key>
	<dict>
		<key>id</key>
		<string>143462</string>
		<key>image</key>
		<string>jp</string>
	</dict>
	<key>대한민국</key>
	<dict>
		<key>id</key>
		<string>143466</string>
		<key>image</key>
		<string>kr</string>
	</dict>
</dict>
</plist>
