<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Argentina</key>
	<string>ar</string>
	<key>Armenia</key>
	<string>am</string>
	<key>Australia</key>
	<string>au</string>
	<key>België/Belgique</key>
	<string>be</string>
	<key>Botswana</key>
	<string>bw</string>
	<key>Brazil</key>
	<string>br</string>
	<key>Bulgaria</key>
	<string>bg</string>
	<key>Canada</key>
	<string>ca</string>
	<key>Chile</key>
	<string>cl</string>
	<key>China</key>
	<string>cn</string>
	<key>Colombia</key>
	<string>co</string>
	<key>Costa Rica</key>
	<string>cr</string>
	<key>Croatia</key>
	<string>hr</string>
	<key>Czech Republic</key>
	<string>cz</string>
	<key>Denmark</key>
	<string>dk</string>
	<key>Deutschland</key>
	<string>de</string>
	<key>Dominican Republic</key>
	<string>do</string>
	<key>Ecuador</key>
	<string>ec</string>
	<key>Egypt</key>
	<string>eg</string>
	<key>El Salvador</key>
	<string>sv</string>
	<key>España</key>
	<string>es</string>
	<key>Estonia</key>
	<string>ee</string>
	<key>Finland</key>
	<string>fi</string>
	<key>France</key>
	<string>fr</string>
	<key>Greece</key>
	<string>gr</string>
	<key>Guatemala</key>
	<string>gt</string>
	<key>Honduras</key>
	<string>hn</string>
	<key>Hong Kong</key>
	<string>hk</string>
	<key>Hungary</key>
	<string>hu</string>
	<key>India</key>
	<string>in</string>
	<key>Indonesia</key>
	<string>id</string>
	<key>Ireland</key>
	<string>ie</string>
	<key>Israel</key>
	<string>il</string>
	<key>Italia</key>
	<string>it</string>
	<key>Jamaica</key>
	<string>jm</string>
	<key>Jordan</key>
	<string>jo</string>
	<key>Kazakhstan</key>
	<string>kz</string>
	<key>Kenya</key>
	<string>ke</string>
	<key>Kuwait</key>
	<string>kw</string>
	<key>Latvia</key>
	<string>lv</string>
	<key>Lebanon</key>
	<string>lb</string>
	<key>Lithuania</key>
	<string>lt</string>
	<key>Luxembourg</key>
	<string>lu</string>
	<key>Macau</key>
	<string>mo</string>
	<key>Macedonia</key>
	<string>mk</string>
	<key>Madagascar</key>
	<string>mg</string>
	<key>Malaysia</key>
	<string>my</string>
	<key>Mali</key>
	<string>ml</string>
	<key>Mauritius</key>
	<string>mu</string>
	<key>México</key>
	<string>mx</string>
	<key>Nederland</key>
	<string>nl</string>
	<key>New Zealand</key>
	<string>nz</string>
	<key>Nicaragua</key>
	<string>ni</string>
	<key>Niger</key>
	<string>ne</string>
	<key>Norway</key>
	<string>no</string>
	<key>Pakistan</key>
	<string>pk</string>
	<key>Panamá</key>
	<string>pa</string>
	<key>Paraguay</key>
	<string>py</string>
	<key>Perú</key>
	<string>pe</string>
	<key>Philippines</key>
	<string>ph</string>
	<key>Poland</key>
	<string>pl</string>
	<key>Portugal</key>
	<string>pt</string>
	<key>Qatar</key>
	<string>qa</string>
	<key>Republic of Malta</key>
	<string>mt</string>
	<key>Republic of Moldova</key>
	<string>md</string>
	<key>Romania</key>
	<string>ro</string>
	<key>Russia</key>
	<string>ru</string>
	<key>Saudi Arabia</key>
	<string>sa</string>
	<key>Schweiz/Suisse</key>
	<string>ch</string>
	<key>Senegal</key>
	<string>sn</string>
	<key>Singapore</key>
	<string>sg</string>
	<key>Slovakia</key>
	<string>sk</string>
	<key>Slovenia</key>
	<string>si</string>
	<key>South Africa</key>
	<string>za</string>
	<key>Sri Lanka</key>
	<string>lk</string>
	<key>Sweden</key>
	<string>se</string>
	<key>Taiwan</key>
	<string>tw</string>
	<key>Thailand</key>
	<string>th</string>
	<key>Tunisia</key>
	<string>tn</string>
	<key>Turkey</key>
	<string>tr</string>
	<key>Uganda</key>
	<string>ug</string>
	<key>United Arab Emirates</key>
	<string>ae</string>
	<key>United Kingdom</key>
	<string>gb</string>
	<key>United States</key>
	<string>us</string>
	<key>Uruguay</key>
	<string>uy</string>
	<key>Venezuela</key>
	<string>ve</string>
	<key>Vietnam</key>
	<string>vn</string>
	<key>Österreich</key>
	<string>at</string>
	<key>日本</key>
	<string>jp</string>
	<key>대한민국</key>
	<string>kr</string>
</dict>
</plist>
